<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Major in Statistical Mathematics</h1>
            <span>UT University</span>
            <span><address>Kuala Kencana, Papua</address><time>2015 to present</time></span>
        </header>
        <p>
            <em>Thesis: not yet.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Automotive Engineering</h1>
            <span>Vocational High School Ma'arif Batu</span>
            <span><address>Batu, East Java</address><time>2004 to 2007</time></span>
        </header>
    </article>
</section>
