<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Continuous Improvement Officer</h1>
            <span><address>Sanggar Sarana Baja, Timika, Papua</address><time>2016 to Present</time></span>
        </header>
        <p> Identify and facilitate process improvement projects, training/ workshops to drive cultural change.
            Carrying out advanced data collection and analysis for process mapping, develop budgets and cost
            analysis to determine project feasibility.
            Design, Install, and Debug tooling that related to process improvement.
            Develop and conduct compliance audits, program evaluation and reviews to drive results with the
            fortitude to ensure change is permanent
        </p>
    </article>
    <article>
        <header>
            <h1>Production Engineer</h1>
            <span><address>Sanggar Sarana Baja, Timika, Papua</address><time>2015 to 2016</time></span>
        </header>
        <p> Increase productivity level by providing project documentation such as Bill of Material,
            Design Drawing, Technical Reference, and Standard Hours.
            Provide data analysis for Overall Equipment Efficiency and Productivity Rate.
            Provide data analysis for Turn Around Time of Work In Progress Jobs.
        </p>
    </article>
    <article>
        <header>
            <h1>ICT Coordinator</h1>
            <span><address>Sanggar Sarana Baja, Timika, Papua</address><time>2013 to 2015</time></span>
        </header>
        <p> Coordinating all IT Support to ensure 100% Support Satisfaction.
            Develop HRIS (Human Resource Information System) to handle Manpower Management, Attendance and Hours Reporting,
            Leave Monitoring, and Organization Chart.
        </p>
    </article>
    <article>
        <header>
            <h1>IT Support</h1>
            <span><address>Sanggar Sarana Baja, Timika, Papua</address><time>2009 to 2013</time></span>
        </header>
        <p> Manage company's assets and infrastructure.
            Administering company's network and server for 100% uptime.
            Administering company's application for production.
            Defining workflows for provisioning and support system, also provide standard operational <procedure class=""></procedure>
        </p>
    </article>
    <article>
        <header>
            <h1>IT Support</h1>
            <span><address>IT Solution, Timika, Papua</address><time>2008 to 2009</time></span>
        </header>
        <p> Handle customer's assets and infrastructure, also responsible for daily operational support.
        </p>
    </article>
        <article>
        <header>
            <h1>Helpdesk</h1>
            <span><address>Trijaya Komputindo, Malang, East Java</address><time>2008 to 2009</time></span>
        </header>
        <p> Handle customer complains and service problem via remote or onsite.
            Also administering network for customer's company.
        </p>
    </article>
</section>
