<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>MongoDB Unversity</h1>
            <span><address>MongoDB University</address><time>2016</time></span>
        </header>
        <p>
            Courses: MongoDB for Developers.
        </p>
    </article>
    <article>
        <header>
            <h1>DataCamp</h1>
            <span><address>DataCamp</address><time>2016 to present</time></span>
        </header>
        <p>
            Courses: Data Analysis Path.
        </p>
    </article>
</section>